# Dependencies
node_modules/
Backend/node_modules/

# Environment variables
.env
Backend/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# Builds
dist/
build/
Backend/build/

# Cache
.cache/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Certificates
*.pem
*.key
*.crt